install
repo --name="EPEL" --install  --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64
repo --name="ANSIBLE" --install --baseurl=https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/
repo --name="CENTOS" --install --baseurl=http://ftp.cuhk.edu.hk/pub/Linux/centos/7.6.1810/os/x86_64
repo --name="CENTOS_EXTRAS" --install --baseurl=http://ftp.cuhk.edu.hk/pub/Linux/centos/7.6.1810/extras/x86_64/
repo --name="DOCKER_CENTOS" --install --baseurl=https://download.docker.com/linux/centos/7/x86_64/stable
cdrom
lang en_US.UTF-8
keyboard us
network --hostname rhel-guest --ip=192.168.10.10 --gateway=192.168.10.1 --nameserver=8.8.8.8 --netmask=255.255.255.0  --noipv6 --device=eth0 --onboot=yes --bootproto=static --activate
rootpw --plaintext vagrant
group --name=vagrant --gid=9999
user --name=vagrant --groups=wheel,vagrant --password=vagrant --plaintext --uid=9999
firewall --disable
authconfig --enableshadow --passalgo=sha512
timezone --utc America/Los_Angeles
bootloader --location=mbr
text
skipx
zerombr




 
clearpart --all
autopart
firstboot --disabled
services --enabled=NetworkManager,sshd
reboot --eject

%packages --nobase
@core
ansible
yum-utils
bzip2
gcc
gcc-c++
kernel-devel
make
net-tools
ntp
sudo
biosdevname
docker-ce
docker-compose
svn
git
python-pip

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
echo "vagrant" | passwd --stdin vagrant
sed -E -i '/Defaults[[:space:]]+requiretty/ s/^/#/' /etc/sudoers
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers

VIRT=`dmesg | grep "Hypervisor detected" | awk -F': ' '{print $2}'`
if [[ $VIRT == "Microsoft HyperV" ]]; then
    mount /dev/cdrom /media
    cp /media/media.repo /etc/yum.repos.d/media.repo
    printf "enabled=1\n" >> /etc/yum.repos.d/media.repo
    printf "baseurl=file:///media/\n" >> /etc/yum.repos.d/media.repo

    yum --assumeyes install eject hyperv-daemons
    systemctl enable hypervkvpd.service
    systemctl enable hypervvssd.service

    rm --force /etc/yum.repos.d/media.repo
    umount /media/
fi

%end
